<h1>Listing outfits</h1>

<table>
  <tr>
    <th>Accessory</th>
    <th>Top</th>
    <th>Bottom</th>
    <th>Shoes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @outfits.each do |outfit| %>
  <tr>
	<%if outfit.accessory_id%>
    <td><%= image_tag Item.find(outfit.accessory_id).image.url(:thumb)%></td>
	<%end%>

	<%if outfit.top_id%>
    <td><%= image_tag Item.find(outfit.top_id).image.url(:thumb)  %></td>
	<%end%>

	<%if outfit.bottom_id%>
    <td><%= image_tag Item.find(outfit.bottom_id).image.url(:thumb) %></td>
	<%end%>

	<%if outfit.shoes_id%>
	<td><%= image_tag Item.find(outfit.shoes_id).image.url(:thumb) %></td>
	<%end%>
	
    <td><%= link_to 'Show', outfit %></td>
    <td><%= link_to 'Edit', edit_outfit_path(outfit) %></td>
    <td><%= link_to 'Destroy', outfit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Outfit', new_outfit_path %>
