<p id="notice"><%= notice %></p>

<p>
  <b>Accessory:</b>
 <%if @outfit.accessory_id%>
 <%= image_tag Item.find(@outfit.accessory_id).image.url(:thumb) %>
 <%end%>
</p>


<p>
  <b>Top:</b>
  <%if @outfit.top_id%>
  <%= image_tag Item.find(@outfit.top_id).image.url(:thumb) %>
  <%end%>
</p>

<p>
  <b>Bottom:</b>
  <%if @outfit.bottom_id%>
  <%= image_tag Item.find(@outfit.bottom_id).image.url(:thumb)%>
  <%end%>
</p>

<p>
  <b>Shoes:</b>
  <%if @outfit.shoes_id%>
  <%= image_tag Item.find(@outfit.shoes_id).image.url(:thumb)%>
  <%end%>
</p>

<%= link_to 'Edit', edit_outfit_path(@outfit) %> |
<%= link_to 'Back', outfits_path %>
