<!DOCTYPE html>
<html>
<head>
  <title>Dressora</title>

	<%= stylesheet_link_tag 'blueprint/screen', :media => "screen, projection" %>
	<%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
	<!--[if lt IE8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif] -->
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) {return;}
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
	<div id="container">
		<% if logged_in? %>
			<h1><%= link_to "DRESSORA", user_url(current_user) %></h1>
		<% else %>
			<h1>DRESSORA</h1>	
		<% end %>
		 <% flash.each do |key, value| %>
			<div class="flash <%= key %>"><%= value %></div>
		<% end %>
		 <% if logged_in? %>
			<p>
				Welcome <%= current_user.f_name %>! | 
				<%=link_to "Sign Out", signout_url, :method => :delete %>
			</p>
		<% else %>
			<p><%=link_to "Sign In", signin_url %></p>
		<% end %>
			<div class="fb-like" data-href="http://www.facebook.com/pages/Dressora/261360620573854" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>
	<%= yield %></p>
	</div>
	<iframe width="640" height="360" src="http://www.youtube.com/embed/81zNjwtrfks?rel=0" frameborder="0" allowfullscreen></iframe>
	

</body>
</html>
